<%- include("../templates/encabezado.ejs") %>
<%- include("../templates/menu.ejs") %>
<div class="container">
    <form action="/editarProducto" method="post" enctype="multipart/form-data">
        <div class="card mt-5">
            <div class="card-header">
                <h1>Modificar Producto</h1>
            </div>
            <div class="card-body">
                <input type="hidden" name="id" id="id" value="<%= products.id %>">
                <input class="form-control mb-3" value="<%= products.nombre %>" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" value="<%= products.categoria %>" type="text" name="categoria" id="categoria" placeholder="Categoria">
                <input class="form-control mb-3" value="<%= products.precio %>" type="text" name="precio" id="precio" placeholder="Precio">
                <input class="form-control mb-3" value="<%= products.marca %>" type="text" name="marca" id="marca" placeholder="Marca">
                <input class="form-control mb-3" value="<%= products.modelo %>" type="text" name="modelo" id="modelo" placeholder="Modelo">
                <input class="form-control mb-3" value="<%= products.anio %>" type="text" name="anio" id="anio" placeholder="Año">
                <input class="form-control mb-3" type="file" name="foto" id="foto">
            </div>
            <div class="card-footer">
                <button class="btn btn-success form-control">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>

<%- include("../templates/pie.ejs") %>
