<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>
<div class="container">
    <div class="card" style="margin-top: 80px;">
        <div class="card-header bg-dark text-white">
            <h1>Empleados</h1>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Empleado</th>
                        <th>Puesto</th>
                        <th>Password</th>
                        <th>Foto</th>
                        <th>Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    employees.forEach((empleado, i) => {
                    %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= empleado.empleado %></td>
                        <td><%= empleado.puesto %></td>
                        <td>*****</td>
                        <td><img src="/images/<%= empleado.foto %>" class="img-thumbnail"  width="100px" alt=""></td>
                        <td>
                            <a href="/editar/<%= empleado.id %>"  class="btn btn-warning btn-sm">Editar</a>
                            <a href="/borrar/<%= empleado.id %>" class="btn btn-danger btn-sm" >Borrar</a>
                        </td>
                    </tr>
                    <%
                    });
                    %>
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
<%- include("../templates/pie") %>
